.container
  .clearfix
    .sm-col.sm-col-12
      %h1 Questions

  .clearfix
    .sm-col.sm-col-12
      .right.mb3= link_to t('new'), new_question_path, class: 'btn h5 btn-primary'

  .clearfix
    .sm-col.sm-col-12
      %table.table-light
        %caption.mb2.bold.caps= t('fixed')
        %tbody
        = render partial: 'question', collection: @questions.fixed_regularity

  .clearfix.mt2.mb4
    .sm-col.sm-col-12
      %table.table-light
        %caption.mb2.bold.caps= t('random')
        %tbody
        = render partial: 'question', collection: @questions.random_regularity
