= render 'layouts/nav'

= link_to new_question_path, class: 'button u-pull-right' do
  = image_tag 'fi-magnifying-glass.svg', widht: 16, height: 16, class: 'img-align'
  = t('new')

%table.u-full-width
  %thead
    %tr
      %th{ colspan: 2 }= t('fixed')
      %th hs
  %tbody
  = render partial: 'question', collection: @questions.fixed_regularity

%table.u-full-width
  %thead
    %tr
      %th{ colspan: 2 }= t('random')
      %th hs
  %tbody
  = render partial: 'question', collection: @questions.random_regularity
