%h1 Questions

= link_to t('add'), new_question_path

%table
  %tbody
  - @questions.each do |question|
    %tr
      %td= link_to question.body, question_path(question)
      %td= question.regularity
      %td= question.happiness_score(7.days.ago)
      %td= link_to t('edit'), edit_question_path(question)
