.container
  .clearfix.mb4
    %h1= t('new')

    = form_for @question do |form|

      - if @question.errors.any?
        %ul
          - @question.errors.full_messages.each do |message|
            %li= message

      = render partial: 'form', locals: { f: form }

      %button.btn.btn-primary{ type: 'submit' }= t('save')
      = link_to t('cancel'), questions_path, class: 'btn btn-primary black bg-silver'
