= render 'layouts/nav'

.container
  .clearfix.mb4
    = form_for @question, html: { class: 'mt2' } do |form|

      - if @question.errors.any?
        %ul
          - @question.errors.full_messages.each do |message|
            %li= message

      = render partial: 'form', locals: { f: form }

      .clearfix
        %button.btn.btn-primary.mt1{ type: 'submit' }= t('save')
