.container
  .clearfix
    .sm-col.sm-col-12
      %h1
        = @question.body
        = link_to t('edit'), edit_question_path(@question), class: 'btn p0 h4 ml1 gray'

  .clearfix.mxn2
    .sm-col.sm-col-6.px2
      %h2= t('last_7_days')

      - hs = @question.happiness_score(7.days.ago)
      .p2.rounded.bg-darken-1.mb2{ class: colored_happiness_score(hs) }
        %h3.h4.regular.black= t('happiness_score')
        %abbr.h6.caps{ title: t('happiness_score') } hs
        %span.h1= hs

      .p2.rounded.bg-darken-1.mb2
        %h3.h4.regular.black= t('total_answers')
        .h1= @question.scores(7.days.ago).count

      .p2.rounded.bg-darken-1.mb2
        %h3.h4.regular.black= t('total_users')
        .h1= @question.users.count

    .sm-col.sm-col-6.px2
      %h2= t('overall')

      - hs = @question.happiness_score
      .p2.rounded.bg-darken-1.mb2{ class: colored_happiness_score(hs) }
        %h3.h4.regular.black= t('happiness_score')
        %abbr.h6.caps{ title: t('happiness_score') } hs
        %span.h1= hs

      .p2.rounded.bg-darken-1.mb2
        %h3.h4.regular.black= t('total_answers')
        .h1= @question.scores.count

      .p2.rounded.bg-darken-1.mb2
        %h3.h4.regular.black= t('total_users')
        .h1= @question.users.count
