= render 'layouts/nav'

%h1= @question.body

.u-cf

%h4= t('last_7_days')

.row
  .one-third.column
    - hs = @question.happiness_score(7.days.ago)
    %h2{ class: colored_happiness_score(hs) }= number_to_percentage(hs, precision: 0)
    %h5= t('happiness_score')
  .one-third.column
    %h2= @question.scores(7.days.ago).count
    %h5= t('total_answers')
  .one-third.column
    %h2= @question.respondents(7.days.ago).count
    %h5= t('total_users')

%h4= t('overall')

.row
  .one-third.column
    - hs = @question.happiness_score
    %h2{ class: colored_happiness_score(hs) }= number_to_percentage(hs, precision: 0)
    %h5= t('happiness_score')
  .one-third.column
    %h2= @question.scores.count
    %h5= t('total_answers')
  .one-third.column
    %h2= @question.respondents.count
    %h5= t('total_users')
