= render 'layouts/nav'

.container
  .clearfix
    .sm-col.sm-col-12
      .right.mt1.mb2= link_to t('new'), new_user_path, class: 'btn btn-primary'

  .clearfix
    .sm-col.sm-col-12
      %table.table-light.mb2
        %thead
          %tr
            %th.mb2.bold.caps{ colspan: 2 }= t('active')
        %tbody
        - @active_users.each do |user|
          %tr
            %td
              = user.email
              - if user != @current_user
                = link_to t('delete'), user_path(user), method: :delete, data: { confirm: t('confirm_delete') }, class: 'btn h6 ml1 gray'
            %td
              = user.surveys.count
              %small.gray= t('surveys')
        %thead
          %tr
            %th.mb2.bold.caps{ colspan: 2 }= t('inactive')
        - @inactive_users.each do |user|
          %tr.gray
            %td= user.email
            %td
              = user.surveys.count
              %small.sliver= t('surveys')
