= render 'layouts/nav'

.container
  .clearfix
    .sm-col.sm-col-12
      .right.mt1.mb2= link_to t('new'), new_user_path, class: 'btn btn-primary'

  .clearfix
    .sm-col.sm-col-12
      %table.table-light.mb2
        %thead
          %tr
            %th.caps= t('email')
            %th.caps= t('surveys')
            %th.caps= t('last')
        %tbody
        - @users.each do |user|
          %tr
            %td
              = user.email
              - if user != @current_user
                = link_to t('delete'), user_path(user), method: :delete, data: { confirm: t('confirm_delete') }, class: 'btn h6 ml1 gray'
            %td
              = user.surveys.count
              .inline-block.gray &times;
            %td
              - if user.surveys.any?
                = user.surveys.last.created_at.to_date.to_s(:short)
              - else
                .gray NA
