.container
  .clearfix
    .sm-col.sm-col-12
      %h1 Users

  .clearfix
    .sm-col.sm-col-12
      %table.table-light
        %thead
          %tr
            %th= t('email')
            %th= t('surveys')
            %th= t('last')
        %tbody
        - @users.each do |user|
          %tr
            %td= user.email
            %td= user.surveys.count
            %td= user.surveys.last.created_at.to_date.to_s(:short)
