.container
  .clearfix.mb4
    %h1= t('new')

    = form_for :batch_answers, url: survey_batch_answers_path do |f|
      - @answers.each do |answer|
        = fields_for 'answers[]', answer do |g|
          .clearfix
            .sm-col.sm-col-12.mb3
              = answer.question.body

          .clearfix.mb3
            .sm-col.sm-col-2
              = g.radio_button :score, 0
              = g.label :score, '0', value: 0

            .sm-col.sm-col-2
              = g.radio_button :score, 1
              = g.label :score, '1', value: 1

            .sm-col.sm-col-2
              = g.radio_button :score, 2
              = g.label :score, '2', value: 2

            .sm-col.sm-col-2
              = g.radio_button :score, 3
              = g.label :score, '3', value: 3

            .sm-col.sm-col-2
              = g.radio_button :score, 4
              = g.label :score, '4', value: 4

      %button.btn.btn-primary.mt2{ type: 'submit' }= t('save')
