= form_for :batch_answers, url: survey_batch_answers_path do |f|
  - @answers.each do |answer|
    = fields_for 'answers[]', answer do |g|
      - klass = 'hide' if answer.score.present?
      .row.answer{ class: klass }= answer.question.body

      .row.answer{ class: klass }
        .two.columns
          = g.radio_button :score, 4
          = g.label :score, '4', value: 4 do
            = image_tag 'delighted.png', alt: t('delighted')

        .two.columns
          = g.radio_button :score, 3
          = g.label :score, '3', value: 3 do
            = image_tag 'happy.png', alt: t('happy')

        .two.columns
          = g.radio_button :score, 2
          = g.label :score, '2', value: 2 do
            = image_tag 'neutral.png', alt: t('neutral')

        .two.columns
          = g.radio_button :score, 1
          = g.label :score, '1', value: 1 do
            = image_tag 'sad.png', alt: t('sad')

        .two.columns
          = g.radio_button :score, 0
          = g.label :score, value: 0 do
            = image_tag 'angry.png', alt: t('angry')

  %button.button{ type: 'submit' }= t('save')
