!!!
%html
  %head
    %meta{ charset: 'utf-8' }
    %title= ENV['NAME']
    %meta{ content: 'width=device-width, initial-scale=1', name: 'viewport' }
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ href: '//fonts.googleapis.com/css?family=Raleway:400,300,600', rel: 'stylesheet', type: 'text/css' }
    = csrf_meta_tags

  %body
    .container
      = render 'layouts/flash'
      = yield
